server:
  port: 8080
spring:
  data:
    redis:
      password: redisPassword
      host: localhost
      port: 6379
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: gateway-api
            client-secret: 6SxXKTjea9zq59cIC2nzglD8ej8iMHa5
            authorization-grant-type: authorization_code
            scope:
              - openid
              - email
              - profile
              - roles
        provider:
          keycloak:
            issuer-uri: http://localhost:8899/realms/leaderboard-security
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8899/realms/leaderboard-security
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

