name: LeaderboardApplication

networks:
  tool:
    driver: bridge
  backend:
    driver: bridge
  frontend:
    driver: bridge
  config:
    driver: bridge

volumes:
  vault-data:
    driver: local
  postgres-data:
    driver: local
  redis-master-data:
    driver: local
  kafka1-data:
    driver: local
  redis-slave-2-data:
    driver: local
  kafka2-data:
    driver: local
  redis-slave-1-data:
    driver: local
  kafka3-data:
    driver: local

services:
  scoresdb:
    image: bitnami/postgresql:latest
    container_name: scores-db
    environment:
      POSTGRES_USER: jzargo
      POSTGRES_PASSWORD: root333
      POSTGRES_DB: scoresdb
    networks:
      - tool
    ports:
      - "5433:5432"
  usersdb:
    image: bitnami/postgresql:latest
    container_name: users-db
    environment:
      POSTGRES_USER: jzargo
      POSTGRES_PASSWORD: root333
      POSTGRES_DB: usersdb
    ports:
      - "5434:5432"
    networks:
      - tool

  analyticsdb:
    networks:
      - tool
    image: bitnami/postgresql:latest
    container_name: analytics-db
    environment:
      POSTGRES_USER: jzargo
      POSTGRES_PASSWORD: root333
      POSTGRES_DB: analyticsdb
    ports:
      - "5435:5432"

  generaldb:
    image: leaderboard-lightweight-generaldb:latest
    container_name: generaldb
    environment:
      POSTGRESQL_USERNAME: postgres
      POSTGRESQL_PASSWORD: root333
      POSTGRESQL_DATABASE: generaldb
    ports:
      - "5432:5432"
    networks:
      - tool
    volumes:
      - postgres-data:/bitnami/postgresql

  kafka1:
    image: bitnami/kafka:latest
    container_name: kafka1
    hostname: kafka1
    networks:
      - tool
    environment:
      KAFKA_CFG_BROKER_ID: 1
      KAFKA_CFG_NODE_ID: 1
      BITNAMI_DEBUG: true
      KAFKA_CFG_PROCESS_ROLES: "controller,broker"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9092,2@kafka2:9092,3@kafka3:9092"
      KAFKA_CFG_LISTENERS: PLAINTEXT://0.0.0.0:9091,PLAINTEXT_HOST://0.0.0.0:9090,CONTROLLER://0.0.0.0:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9091,PLAINTEXT_HOST://localhost:9090
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CFG_LOG_DIRS: "/bitnami/kafka/data"
      KAFKA_CLUSTER_ID: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
    volumes:
      - kafka1-data:/bitnami/kafka/data
  kafka2:
    networks:
      - tool
    image: bitnami/kafka:latest
    container_name: kafka2
    hostname: kafka2
    environment:
      KAFKA_CFG_BROKER_ID: 2
      KAFKA_CFG_NODE_ID: 2
      KAFKA_CFG_PROCESS_ROLES: "controller,broker"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9092,2@kafka2:9092,3@kafka3:9092"
      KAFKA_CFG_LISTENERS: PLAINTEXT://0.0.0.0:9091,PLAINTEXT_HOST://0.0.0.0:9090,CONTROLLER://0.0.0.0:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9091,PLAINTEXT_HOST://localhost:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CFG_LOG_DIRS: "/bitnami/kafka/data"
      KAFKA_CLUSTER_ID: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
    volumes:
      - kafka2-data:/bitnami/kafka/data
  kafka3:
    networks:
      - tool
    image: bitnami/kafka:latest
    container_name: kafka3
    hostname: kafka3
    environment:
      KAFKA_CFG_BROKER_ID: 3
      KAFKA_CFG_NODE_ID: 3
      KAFKA_CFG_PROCESS_ROLES: "controller,broker"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9092,2@kafka2:9092,3@kafka3:9092"
      KAFKA_CFG_LISTENERS: PLAINTEXT://0.0.0.0:9091,PLAINTEXT_HOST://0.0.0.0:9090,CONTROLLER://0.0.0.0:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:9091,PLAINTEXT_HOST://localhost:9094
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CFG_LOG_DIRS: "/bitnami/kafka/data"
      KAFKA_CLUSTER_ID: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
    volumes:
      - kafka3-data:/bitnami/kafka/data

  redis-master:
    image: redis:latest
    container_name: redis-master
    command: [
      "redis-server",
      "--requirepass", "masterRedisPassword",
      "--appendonly","yes",
      "--appendfsync", "everysec",
    ]
    networks:
      - tool
    volumes:
      - redis-master-data:/data
  redis-slave-1:
    networks:
      - tool
    image: redis:latest
    container_name: redis-slave-1
    depends_on:
      - redis-master
    command: [
      "redis-server",
      "--requirepass", "rootRedisPassword",
      "--appendonly","yes",
      "--appendfsync", "everysec",
      "--replicaof", "redis-master", "6379",
      "--masterauth", "masterRedisPassword"
    ]
    volumes:
      - redis-slave-1-data:/data
  redis-slave-2:
    networks:
      - tool
    image: redis:latest
    container_name: redis-slave-2
    depends_on:
      - redis-master
    command: [
      "redis-server",
      "--requirepass", "rootRedisPassword",
      "--appendonly","yes",
      "--appendfsync", "everysec",
      "--replicaof", "redis-master", "6379",
      "--masterauth", "masterRedisPassword"
    ]
    volumes:
      - redis-slave-2-data:/data

  keycloak:
    image: keycloak/keycloak:latest
    container_name: keycloak-security
    command: start-dev
    depends_on:
      - generaldb
    networks:
      - tool
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin-password
      KC_DB: postgres
      KC_DB_USERNAME: jzargo
      KC_DB_PASSWORD: root333
      KC_HTTP_PORT: 8080
      KC_LOG_LEVEL: info
      KC_DB_URL: jdbc:postgresql://generaldb:5432/keycloakdb
    ports:
      - "8899:8080"
    volumes:
      - ../keycloak-extensions/files:/opt/keycloak/providers

  debezium:
    image: leaderboard-lightweight-debezium-dev-container:latest
    container_name: debezium
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - generaldb
    networks:
      - tool
    environment:
      BOOTSTRAP_SERVERS: kafka1:9091,kafka2:9093
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: connect-configs-topic
      OFFSET_STORAGE_TOPIC: connect-offsets-topic
      STATUS_STORAGE_TOPIC: connect-statuses-topic
  vault:
    image: hashicorp/vault:latest
    command: server -dev=false -config=/vault/config/vault.hcl
    volumes:
      - ./vault-config:/vault/config
      - vault-data:/vault/file
    networks:
      - config

  eureka:
    image: leaderboard/eureka-service:latest
    container_name: eureka
    networks:
      - backend
  gateway:
    image: leaderboard/gateway:latest
    container_name: gateway
    networks:
      - backend
      - frontend
    ports:
      - "8080:8080"
  config-server:
    image: leaderboard/config-server:latest
    networks:
      - backend
      - config