server:
  port: 8888

spring:
  application:
    name: ConfigServer
  cloud:
    config:
      server:
        native:
          search-locations:
            - file:///${CONFIG_DIR_PATH}/cloud/{application}/{profile}/
            - file:///${CONFIG_DIR_PATH}/cloud/{profile}/
            - file:///${CONFIG_DIR_PATH}/cloud
