server:
  port: 8888

spring:
  application:
    name: ConfigServer
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:/data/IdeaProjects/LeaderboardApplication/config/cloud/{application}/{profile}/